PORT=5000
MONGODB_URI=mongodb://mongo:27017/company-registration?replicaSet=rs0
JWT_SECRET=k2xD8qxpEV8PU9uYgBQq8YMeG8t3oSoN
JWT_EXPIRES_IN=24h
CORS_ORIGIN=http://localhost:5000
BCRYPT_SALT_ROUNDS=12
NODE_ENV=production
